.adminHead {
    text-align: center;
}

input[type=text] {
  width: 50%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}

.adminForm {
    background-color: white
}

.typeSelect {
    float: right
}