.ratings {
    text-align: center;
    align-content: center;
    /* padding-right: 150px */
}

.column {
    float: left;
    width: 23.53%;
    padding: 5px;
    margin-left: 10px;
    max-width: 80%;
    /* box-shadow: 3px 3px; */
}


.row::after {
    /* content: ""; */
    clear: both;
    display: flex;
    margin-left: 20px;
    

}

h4 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: 'Wendy One', sans-serif;
}

.Plastics {
    text-align: center;
    font-family: 'Wendy One', sans-serif;
}

.home {
font-family: 'Wendy One', sans-serif;
}

p {
    font-size: 14px
}

/* .tipsHeader {
    margin-left: 20px;
    font-family: 'Wendy One', sans-serif;
}

.tipsList {
    font-size: 14px;
    width:40%;
    margin-right: 10px
}

.topInfo {
    display: flex;
    padding-inline-end: 10px;
} */