.title {
    text-align: center;
    color: rgb(0, 8, 255);
    align-content: center;
    font-family: 'Wendy One', sans-serif;
    
}

.header {
    align-content: center;
    color: blue;
    background-color: chartreuse;
    margin-top: 0%;
    
}
