table {  
    color: rgb(254, 249, 249);
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
    border-radius: 4px;
}

td, th {  
    border: 1px solid; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: #C32A38;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: grey;
    text-align: center;
}
 

tr:hover { background-color: rgb(252, 248, 248); color: rgb(34, 17, 222); }  
/* Hover cell effect! */

#DiscImage {
 width:160px;   
 margin-left: auto;
 margin-right: auto;
}

.buttonZone {
 width:80px;
 margin-left: auto;
 margin-right: auto;
}
.addButton {
margin-left: auto;
margin-right: auto;
}

h1 {
    font-family: 'Wendy One', sans-serif;
}

.imageName {
 width:70px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}